* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

canvas {
    display: block;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

input, slider, checkbox {
    margin: 10px;
    position: relative;
    z-index: 1;
}

label {
    margin-right: 10px;
}

.namelabel-container {
    width: 50vw;
    height: 45vh;
    left: 0;
    bottom: 0;
    background-color: black; /* 기본 배경색 */
    background-size: cover; /* 배경 이미지의 크기를 컨테이너에 맞춤 */
    background-repeat: no-repeat; /* 배경 이미지 반복 금지 */
    background-position: center; /
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    z-index: 10;
    position: absolute;
}



.nametag-container {
    perspective: 1000px;
}



.close-button {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
}


.pppp {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
}


#save-button{
    position: absolute;
    bottom: 2vh;
    right: 1vw;
    height: 6vh;
    width: 5vw;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 3vw;
    cursor: pointer;
    z-index: 1;
    font-family: "Instrument Serif";
    font-style: italic;
    font-size: 1.5vw;
}

#background-button{
    position: absolute;
    bottom: 2vh;
    right: 7vw;
    height: 6vh;
    width: 14vw;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 3vw;
    cursor: pointer;
    z-index: 1;
    font-family: "Instrument Serif";
    font-style: italic;
    font-size: 1.5vw;
}


.controls-text { 
    position: absolute;
    top: 55%;
    left: 52%;
    color: red;
    z-index: 20;
}

.rrr {
    font-family: "Instrument Serif";
    font-style: italic;
    font-size: 2.5vw;
    line-height: 2.8vw;
    padding-bottom: 1.5vh;
    font-weight: 500;
}

.nnn {
    font-family: "Instrument Serif";
    font-style: normal;
    font-size: 1.5vw;
    font-weight: 500;
}

.main-text {
    display: flex;
    flex-direction: row;
    height: 5vh;
    width: 100vw;
    text-align: center;
    justify-content: space-between;
    color: black;
    font-size: 1.2rem;
    z-index: 30;
    top: 0;
    position: absolute;
}

.main-text p {
    padding: 0vh 2vw 1vh 2vw;
    margin-bottom: 2px;
    margin-top: 1vh;
    font-family: "Instrument Serif", serif;
    font-style: italic;
}

.rotate-circle {
    background-color: #00F0FF;
    color: red;
    width: 15vw;
    height: 7.8vh;
    border-radius: 50%;
    position: absolute;
    top: 16vh;
    left: 20px;
    text-align: center;
    rotate: -18deg;
    font-size: 2.6vw;
    z-index: 50;
}

.rotate-circle p {
    transform: translate(0, 1vh);
    font-family: "Instrument Serif", serif;
    font-style: italic;
}

.rotate-star {
    background-color: #00F0FF;
    color: red;
    width: 15vw;
    height: 7.8vh;
    border-radius: 50%;
    position: absolute;
    top: 9vh;
    left: 20px;
    text-align: center;
    rotate: -18deg;
    font-size: 2.6vw;
    z-index: 50;
}

.rotate-star p {
    transform: translate(0, 1vh);
    font-family: "Instrument Serif", serif;
    font-style: italic;
}

.rotatee {
    animation: rotate-axis infinite 1s;
}

@keyframes rotate-axis {
    from {
        transform: perspective(800px) rotateX(0deg);
    }
    to {
        transform: perspective(800px) rotateX(360deg);
    }
}
.small-canvas {
        position: absolute; /* 위치 조정 */
        top: calc(50% - 19vh);  /* 원하는 위치로 설정 */
        left: calc(50% - 20vw); /* 원하는 위치로 설정 */
        width: 40vw; /* 너비 설정 */
        height: 38vh; /* 높이 설정 */
        border-radius: 1vw;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);

    }